.container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crossword {
    width: 450px;
    height: 450px;
    position: relative;
    background-color: blue;
}

.word {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.vertical{
    flex-direction: column;
}

.horizontal{
    flex-direction: row;
}

.cell {
    width:45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}


.prompts {
    display: flex;
    flex-direction: column;
}

.prompt {
    margin: 5px;
    display: flex;
    align-items: center;
}

.prompt-number {
    font-weight: bold;
    margin-right: 5px;
}

.check-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
}

.prompt{
    position: relative;
}

.ques{
    position: relative;
}

.word::after {
    content: attr(num);
    font-size: 10px;
    color: black;
    position: absolute;
    top: 1px;
    left: 2px;
    right: 100px;
    z-index: 1000000000000;
}

/* ---------------interface------------------------ */

.main-frame {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    flex-direction: row;
    padding: 20px 40px;
}

.question-frame {
    width: 350px; 
    padding: 20px;
    background-color: #f9f9f9;
    margin-left: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
}

.question-sections h2 {
    margin-bottom: 10px;
}

